{% extends "admin_base.njk" %}

{% block titulo %}Administración | Listado{% endblock %}

{% block contenido %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        {% for producto in productos %}
            <tr>
                <td>
                    <a href="/producto/{{producto.id}}">{{producto.nombre}}</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="/admin/productos/editar/{{ producto.id }}">Editar</a>
                    <a class="btn btn-secondary" href="/admin/productos/comentar/{{ producto.id }}">Comentar</a>
                    <form style="display:inline" action="/admin/productos/{{ producto.id }}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}