{% extends "publico_base.njk" %}

{% block titulo %}Productos | Index{% endblock %}

{% block contenido %}
    <form action="/buscar" method="get" class="mb-3">
        <div class="form-group">
            <input type="text" class="form-control" name="q" placeholder="Buscador de productos..."/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        {% for producto in productos %}
            <tr>
                <td>
                    <a href="/producto/{{producto.id}}">{{producto.nombre}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <h4>No se encontraron resultados</h4>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}